.court {
  fill: transparent;
  stroke:white;
  stroke-width:8px
  
}

.basket {
  fill: transparent !important;
  stroke:white;
  stroke-width:3px
  
}
.glass {
  stroke:white;
  stroke-width:5px
  
}
.polygon {
  fill: transparent !important;
  stroke-width:8px;
}

.position{
  fill: rgb(248, 173, 32);
  stroke: rgb(51, 50, 50);
  stroke-width:1px;

}

.pSelect{
  fill: rgb(96, 149, 247);
  stroke: rgb(51, 50, 50);
  stroke-width:1px;
  /* font-weight: bold; */
  font-size: 2rem;
  stroke-width:2px;

}

.pText {
  font-family: sans-serif;
  text-anchor: "middle";
  fill: rgb(51, 50, 50);
  stroke: rgb(51, 50, 50);

  /* text-decoration-color: rgb(51, 50, 50) !important; */

}
.b {
  font-weight: bold;
}
.n {
  font-weight: normal;
}