
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#img_logo{
    width: 100%;
    object-position: center;
    
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 2px;
    border-bottom: 5px dashed rgb(26, 80, 24);
    margin: 40px 0;
    }

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

.image_wrapped{
    position: relative center;
}

.navbar{
    display: none;
    background: rgb(51, 179, 94) !important;
    color: rgba(255, 255, 255, 0.815) !important;
    transition: all 0.3s;
}

.navbar-brand{
    font-size: 1.8em;
}

#sidebar {
    min-width: 80px;
    max-width: 250px;
    background: rgb(51, 179, 94);
    color: rgba(255, 255, 255, 0.815);
    transition: all 0.3s;
    position: relative;
    display: block;
    max-height: 110%;

}

.sidebar-header h3 {
    text-align: center;

}

#sidebar.active .CTAs {
    display: none;
    text-align: center;
}


#sidebar ul li a {
    text-align: center;
}


#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #26882b;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #21aa71;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #26882b;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}


ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #26882b;
    text-align: justify;
}


.icons{
    text-align: center;
    padding: 0px;
}
.icon-item{
    padding: .25rem;
    background-color: #d2f1e5 !important;
    /* border: 2px solid #dee2e6 !important; */
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
    width: 25%;
    padding: 5px ;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
body{
    background-color: #d2f1e5;

}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.hero {
    position: right;
    margin-bottom: 50px;
    /* height: 10%; */
    min-height: 10%;
    max-height: 10%;
    width: auto;
    padding: 20px;
    /* margin: 15px; */
    background: black;
    background-image: url("../images/BRASILIA3.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-position: right center;
    background-size: cover;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media screen and (max-width: 824px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        max-height: 100%;
    }

    #img_logo, .hero, .sidebar-header h3, #download {
        display: none !important;
    }

    #sidebar .sidebar-header strong {
        display: block;
        font-size: 1.8em;
    }

    .icon-item{
        width: 50%;
        padding: 3px ;
    }
    
    #sidebar ul li a{
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }
    
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
   
    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.4s;
    }


    /* #img_logo{
        display: none;
    }

    .sidebar-header h3 {
        display: none;
    } */

    /* #sidebar ul li a {
        text-align: center;
        display: block;
    } */
    /* #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        margin-bottom: 5px;
    } */

    /* #sidebar.active ul ul a {
        padding: 10px !important;
    } */

    /* .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    } */


    /* #sidebar .sidebar-header {
        padding: 20px;
        background: #26882b;
    } */



    /* #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #21aa71;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 0.85em;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #26882b;
        background: #fff;
    }

    #sidebar ul li a i {
        margin-right: 10px;
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #26882b;
    }

    ul.CTAs {
        padding: 10px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    } */
/* 
    #download {
        display: none !important;
    } */

}
/* On screens that are less than 500px wide, make the sidebar into a topbar */
@media screen and (max-width: 640px) {
    #sidebar, #download{
      display: none !important;
    }
    .navbar{
        display: block;
    }
    .icons{
        text-align: left;
        padding: 0px;
    }
    .icon-item{
        width: 5%;
        padding: 3px ;
    }
    
  }
